---
import Layout from '../layouts/Layout.astro';
import ProductGallery from '../components/product-gallery.astro';
---

<Layout>
  <main>
    <h1 >Hello World</h1>
    <ProductGallery title="This is a gallery"/>
  </main>
</Layout>

<script>
  fetch("http://localhost:5015/api/v1/Hello")
    .then(result => result.text())
    .then(text => console.log(
      `%c ${text}`, "color:green;",
      "Looks like the backend is available"))
    .catch(() => console.error("Backend is either down or unavailable"))
</script>
